@import url('https://use.typekit.net/tsb3vax.css');

h1, h4, h5 {
  font-family: ivypresto-display, serif;
  font-weight: 300;
}

p {
  font-family: adelle-sans, sans-serif;
  font-weight: 400;
}

body {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 600;
}

a {
  color: #B8B8B8 !important;
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 3%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}